name: Coletor de Preços Diário

on:
  schedule:
    - cron: '0 */6 * * *' # Roda a cada 6 horas
  workflow_dispatch: # Permite rodar manualmente

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar o repositório
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar dependências
      run: |
        pip install -r requirements.txt

    - name: Rodar o script de coleta
      run: python coletor.py

- name: Salvar dados
      run: |
        git config --global user.name 'Bot Preco'
        git config --global user.email 'bot@noreply.github.com'
        git add dados_precos.csv
        # Tenta commitar. Se não tiver mudanças, não dá erro (|| exit 0)
        git commit -m "Atualização automática de preços" || exit 0
        # O COMANDO MÁGICO: Envia explicitamente para a branch main
        git push origin HEAD:main
